node_modules/
dist/
.idea
.vscode
.env
*.env
.parcel-cache
package-lock.json
micro-apps/building-spinal-board/
micro-apps/energy-spinal-board/
micro-apps/occupation-spinal-board/
micro-apps/patrimony-spinal-board/
micro-apps/patrimony-spinal-twin-water/
micro-apps/spinal-app-viewer-description/
micro-apps/spinal-app-viewer-equipment/
micro-apps/spinal-app-viewer-insight/
micro-apps/spinal-app-viewer-LO-telecommande/
micro-apps/spinal-app-viewer-LO-telecommande_cuisine/
micro-apps/spinal-app-viewer-LO-telecommande_sal/
micro-apps/spinal-app-viewer-nomenclature/
micro-apps/spinal-app-viewer-space/
micro-apps/spinal-app-viewer-space-assignation/
micro-apps/spinal-env-pam-apis-routes-manager/
micro-apps/spinal-env-pam-app-profile-manager/
micro-apps/spinal-env-pam-apps-manager/
micro-apps/spinal-env-pam-auth-admin-manager/
micro-apps/spinal-env-pam-building-manager/
micro-apps/spinal-env-pam-user-profile-manager/
micro-apps/spinal-env-pam-viewer/
micro-apps/spinal-env-pam-websocket-state/

