.R {background: #FF000B !important;}
.O1 {background: #F37022 !important;}
.O2 {background: #FEB914 !important;}
.Y {background: #FEF200 !important;}
.G1 {background: #C0D731 !important;}
.G2 {background: #53B649 !important;}
.G3 {background: #01A650 !important;}
.E {background: #eeeeee !important;}