.R {background: #FF000B;}
.O1 {background: #F37022;}
.O2 {background: #FEB914;}
.Y {background: #FEF200;}
.G1 {background: #C0D731;}
.G2 {background: #53B649;}
.G3 {background: #01A650;}
.E {background: #eeeeee;}
.B {background: #B1D6FA;}